# Ignore everything by default
*

# ...just track this stuff:

!Readme.md
!Makefile

!shell/
!shell/.zshrc
!shell/.config/
!shell/.config/starship.toml
!shell/.config/zsh/
!shell/.config/zsh/fzf-key-bindings.zsh

!git/
!git/.config/
!git/.config/git/
!git/.config/git/config
!git/.config/git/gitignore

!emacs/
!emacs/.config/
!emacs/.config/emacs/
!emacs/.config/emacs/early-init.el
!emacs/.config/emacs/init.el
!emacs/.config/emacs/init/
!emacs/.config/emacs/init/*.org

!terminator/
!terminator/**

!packages/
!packages/**
