# Ignore everything by default
*

# Except what we decide to check in!

!Readme.md
!Makefile

!emacs/
!emacs/.config/
!emacs/.config/emacs/
!emacs/.config/emacs/early-init.el
!emacs/.config/emacs/init.el

!terminator/
!terminator/**

!zsh/
!zsh/.zshrc

!packages/
!packages/**
